:root {
  /* font-weight & style */
  --text-semi-bold: 600;
  --text-regular: 400;
  --text-light: 300;

  --text-oblique: oblique;

  /* color */
  --text-color-red: rgba(200, 26, 26, 0.95);
  --text-color-white: rgba(229, 229, 229);
  --text-light-grey: rgba(185, 185, 185);

  /* background-color */
  --background-color-faded-grey: rgba(24, 24, 36, 0.95);
  --background-color-solid-grey: rgba(45, 45, 50, 0.95);
  --background-color-red: rgba(200, 26, 26, 0.95);
  --background-color-electric-blue: rgba(1, 43, 155, 0.95);
  --background-color-smoke-white: rgba(217, 217, 217);
  --background-color-blue-gradient: linear-gradient(
    180deg,
    rgb(1, 43, 155) 0%,
    rgb(0, 0, 0) 100%
  );

  /* border-color */
  --border-color-light-grey: rgba(89, 89, 89, 0.9);

  /* mobile font-size */
  --mobile-text-size-xxl: 2.5rem;
  --mobile-text-size-xl: 2rem;
  --mobile-text-size-l: 1.5rem;
  --mobile-text-size-m: 1.25rem;
  --mobile-text-size-s: 1rem;
  --mobile-text-size-xs: 0.875rem;

  /* desktop font-size */
  --desktop-text-size-xxl: 4rem;
  --desktop-text-size-xl: 3rem;
  --desktop-text-size-l: 2.5rem;
  --desktop-text-size-m: 2.25rem;
  --desktop-text-size-s: 2rem;
  --desktop-text-size-xs: 1.5rem;
}
